release
res
abaqus.rpy*
*.rec
*.pyc
*.com
*.dat
*.log
*.msg
*.odb
*.prt
*.sta
*.json
*.cae
*.inp
*.jnl
.vscode
conforce_gen/tests/abaqus_model
conforce_gen/tests/generated
doc/build
doc/source/generated
doc/source/examples/*images
doc/source/conforce_logo.png
doc/source/plugin_gui.png